.title {
	color: var(--primary-color);
	font-size: var(--font-size-l);
}

.text {
	color: var(--secondary-color);
	font-size: var(--font-size-m);
}

.error {
	.title {
		color: var(--error-color-primary);
	}

	.text {
		color: var(--error-color-secondary);
	}
}
