.Button {
  color: var(--primary-color);
  cursor: pointer;
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.outline {
	padding: 0.5rem 1rem;
	border: 1px solid var(--primary-color);
	background: none;
	color: var(--primary-color);
}
