.Sidebar {
  position: relative;
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  transition: width 0.3s;
}

.switchers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  width: 100%;

  button {
    margin-top: 16px;
  }
}

.collapseBtn {
  position: absolute;
  bottom: 32px;
  right: -32px;
}

.items {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}
