.Sidebar {
  position: relative;
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  transition: width 0.3s;
}

.switchers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  width: 100%;

  button {
    margin-top: 16px;
  }
}

.collapseBtn {
  position: absolute;
  bottom: 32px;
  right: -32px;
}

.items {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  white-space: nowrap;
}

.icon {
  fill: var(--inverted-primary-color);
}

.link {
  opacity: 1;
  margin-left: 1rem;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .link {
    opacity: 0;
    transition: 0.2s opacity;
    width: 0;
  }
}
