.Input {
  position: relative;
  margin-top: 1rem;

  input {
    background: transparent;
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--secondary-color);
  }

  input:focus {
    border: 1px solid var(--primary-color);
  }

  input::placeholder {
    color: var(--secondary-color);
    font-size: 0.75rem;
  }
}

.label {
  background: var(--bg-color);
  position: absolute;
  top: -14px;
  left: 10px;
  padding: 0 4px;
  font-size: 0.75rem;
}
