.dark {
  --bg-color: #10171e;
  --inverted-bg-color: #d6d6d7;
  --primary-color: #d6d6d7;
  --secondary-color: #bdbdbf;
  --inverted-primary-color: #000000e1;
  --inverted-secondary-color: #0000008b;
}
